.container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.movie-list {
    max-width: 100%;
    margin: 14px auto;
}

.movie-list article {
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #FFF;
    margin-top: 10px;
}

.movie-list strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.movie-list img{
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit:cover;
}

.movie-list a {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    background-color: #116FEB;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #CDCDCD;
    border-radius: 6px;
  }

  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
  }

  .no-movies {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-movies label{
   font-size: 20px;
   font-weight: normal;
  }